name: CIFuzz

on:
  pull_request:
    branches:
      - master

permissions:
  contents: read

jobs:
  Fuzzing:
    if: github.repository == "coredns/coredns"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build Fuzzers
        id: build
        uses: google/oss-fuzz/infra/cifuzz/actions/build_fuzzers@master  # cifuzz can't be pinned https://github.com/google/oss-fuzz/issues/6836
        with:
          oss-fuzz-project-name: "go-coredns"
          language: "go"
          project-src-path: ${{ github.workspace }}
          bad-build-check: false
          dry-run: false
      - name: Run Fuzzers
        uses: google/oss-fuzz/infra/cifuzz/actions/run_fuzzers@master  # cifuzz can't be pinned
        with:
          oss-fuzz-project-name: "go-coredns"
          language: "go"
          project-src-path: ${{ github.workspace }}
          fuzz-seconds: 600
          dry-run: false
      - name: Upload Crash
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        if: failure() && steps.build.outcome == 'success'
        with:
          name: artifacts
          path: ./out/artifacts
